button {
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(0.95);
}
