<h1>Mapa com D3</h1>
<div class="content" role="main">
  <div class="left">
    <div class="canvas">
      <svg viewBox="0 0 600 400">
        <g fill="gray">
          <image
            xlink:href="assets/img/bg.jpg"
            x="0"
            y="0"
            width="100%"
            height="100%"
            preserveAspectRatio="xMinYMin slice"
          ></image>

          <circle
            *ngFor="let c of data; let i = index"
            [attr.cx]="c.x"
            [attr.cy]="c.y"
            [attr.r]="c.r"
            [id]="c.id"
            fill="brown"
            (click)="hoverCircle($event, i)"
          ></circle>
        </g>
      </svg>
    </div>

    <div class="button-bar">
      <app-upload-file
        [selectedImg]="selectedImg"
        (onSelectedImg)="onFileChanged($event)"
      ></app-upload-file>
      <app-button (click)="limpar()"> Limpar </app-button>
      <app-button (click)="resetZoom()" tooltip="Resetar Zoom">
        <img src="assets/svg/icon/full-view.svg" alt="" srcset="" />
      </app-button>
    </div>
    <div *ngIf="selectedPin" class="pin-details">
      <div>
        {{ selectedPin.name }}
      </div>

      <div>
        <app-button (click)="deletePin()">
          <img src="assets/svg/icon/delete.svg" alt="" srcset="" />
        </app-button>

        <app-button>Renomear</app-button>
      </div>
    </div>

    <div *ngIf="!selectedPin" class="pin-empty">
      Selecione algum Pin para ver os detalhes
    </div>
  </div>

  <div class="right">
    <h3>Pins</h3>
    <ul class="list">
      <li
        *ngFor="let c of data; let i = index"
        (click)="selectPin(i)"
        class="pin"
        [ngClass]="{ selected: selectedPin == c }"
      >
        {{ c.name }}
      </li>
    </ul>
    <div *ngIf="data.length == 0" class="empty">
      Clique no mapa para adicionar um Pin.
    </div>
  </div>
</div>
